$breakpoint-desktop: 1280px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 320px;

$background-primary: #1e193c;
$background-secondary: #000000;

$text-color: #ffffff;
$text-color-secondary: #53a3ff;

$input-color: #333333;

$border: #53a3ff;
$border-shadow: #71b4ff;

$main-red: #ff1515;
$main-green: #073e1e;
$main-blue: #53a3ff;
$main-yellow: #eda426;
$main-black: #181818;
$main-brown: #1e0707;
$main-silver: silver;
